<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LayOut</title>
	<link href="resetcopy.css" rel="stylesheet"/>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link href="layOut.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav>
			<ul class="header-flex">
				<a href="#" id="example"><i class="fa fa-home space"></i><li><span class="hide-small">Home</span></li></a>
				<a href="#"><i class="fa fa-arrow-left space"></i><li><span class="hide-small">Previous</span></li></a>
				<a href="#"><li><span class="hide-small">Continue</span></li><i class="fa fa-arrow-right space2"></i></a>
			</ul>
		</nav>
	</header>

	<main>
		<i class="fa fa-bars show-small"></i>
		<aside>
			<h2>Heading</h2>
			<h4>Section Title</h4>
			<nav>
				<ul class="child-example">
					<li><a href="">Chapter 1</a></li>	
					<li><a href="">Chapter 2</a></li>
					<li><a href="">Chapter 3</a></li>
					<li><a href="">Chapter 4</a></li>
					<li><a href="">Chapter 5</a></li>
					<li><a href="">Chapter 6</a></li>
					<li><a href="">Chapter 7</a></li>
					<li><a href="">Chapter 8</a></li>
					<li><a href="">Chapter 9</a></li>
					<li><a href="">Chapter 10</a></li>
					<li><a href="">Chapter 11</a></li>
					<li><a href="">Chapter 12</a></li>
					<li><a href="">Chapter 13</a></li>
					<li><a href="">Chapter 14</a></li>
					<li><a href="">Chapter 15</a></li>
					<li><a href="">Chapter 16</a></li>
					<li><a href="">Chapter 17</a></li>
					<li><a href="">Chapter 18</a></li>
					<li><a href="">Chapter 19</a></li>
					<!--<li><a href="">Chapter 20</a></li>
					<li><a href="">Chapter 21</a></li>
					<li><a href="">Chapter 22</a></li>
					<li><a href="">Chapter 23</a></li>
					<li><a href="">Chapter 24</a></li>
					<li><a href="">Chapter 25</a></li>
					<li><a href="">Chapter 26</a></li>
					<li><a href="">Chapter 27</a></li>
					<li><a href="">Chapter 28</a></li>
					<li><a href="">Chapter 29</a></li>
					<li><a href="">Chapter 30</a></li>
					<li><a href="">Chapter 31</a></li>
					<li><a href="">Chapter 32</a></li>
					<li><a href="">Chapter 33</a></li>
					<li><a href="">Chapter 34</a></li>
					<li><a href="">Chapter 35</a></li>
					<li><a href="">Chapter 36</a></li>
					<li><a href="">Chapter 37</a></li>
					<li><a href="">Chapter 38</a></li>
					<li><a href="">Chapter 39</a></li>
					<li><a href="">Chapter 40</a></li>
					<li><a href="">Chapter 41</a></li>
					<li><a href="">Chapter 42</a></li>
					<li><a href="">Chapter 43</a></li>
					<li><a href="">Chapter 44</a></li>
					<li><a href="">Chapter 45</a></li>
					<li><a href="">Chapter 46</a></li>
					<li><a href="">Chapter 47</a></li>
					<li><a href="">Chapter 48</a></li>
					<li><a href="">Chapter 49</a></li>
					<li><a href="">Chapter 50</a></li> -->
				</ul>
			</nav>
		</aside>

		<article>
			<h1>Intro to the First Site</h1>
			<!--<p>People use stories to share the things they're doing, the people they're doing them with and the places where they happen. Let people share stories about your app on Facebook through a structured, strongly typed API. Objects are the 'nouns' or targets for actions in your stories. Objects can be used in two different ways: self-hosted (represented by HTML markup on a web page) or created using the Object API. Let's try something else. Imagine we have a right-aligned navigation on the very top of our website, but we want it to be centered on medium-sized screens and single-columned on small devices. Easy enough.
			</p>

			<p>People use stories to share the things they're doing, the people they're doing them with and the places where they happen. Let people share stories about your app on Facebook through a structured, strongly typed API. Objects are the 'nouns' or targets for actions in your stories. Objects can be used in two different ways: self-hosted (represented by HTML markup on a web page) or created using the Object API. Let's try something else. Imagine we have a right-aligned navigation on the very top of our website, but we want it to be centered on medium-sized screens and single-columned on small devices. Easy enough.
			</p>

			<p>People use stories to share the things they're doing, the people they're doing them with and the places where they happen. Let people share stories about your app on Facebook through a structured, strongly typed API. Objects are the 'nouns' or targets for actions in your stories. Objects can be used in two different ways: self-hosted (represented by HTML markup on a web page) or created using the Object API. Let's try something else. Imagine we have a right-aligned navigation on the very top of our website, but we want it to be centered on medium-sized screens and single-columned on small devices. Easy enough.
			</p>

			<h3>What We'll Be Building</h3>
			<p>This defines the alignment along the main axis. It helps distribute extra free space left over when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. It also exerts some control over the alignment of items when they overflow the line. Items are evenly distributed in the line with equal space around them. Note that visually the spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has it's own spacing that applies.</p>

			<p>This defines the alignment along the main axis. It helps distribute extra free space left over when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. It also exerts some control over the alignment of items when they overflow the line. Items are evenly distributed in the line with equal space around them. Note that visually the spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has it's own spacing that applies.</p>-->

			<p>This defines the alignment along the main axis. It helps distribute extra free space left over when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. It also exerts some control over the alignment of items when they overflow the line. Items are evenly distributed in the line with equal space around them. Note that visually the spaces aren't equal, since all the items have equal space on both sides. The first item will have one unit of space against the container edge, but two units of space between the next item because that next item has it's own spacing that applies.</p>

		</article>
	</main>
<!--
	<a class='button ctrl' href='#' tabindex='1'>★</a>
	<ul class='tip ctrl'>
	<li class='slice'><a href='#'>✦</a></li>
	<li class='slice'><a href='#'>✿</a></li>
	<li class='slice'><a href='#'>✵</a></li>
	<li class='slice'><a href='#'>✪</a></li>
	<li class='slice'><a href='#'>☀</a></li>
	</ul>
-->
	<footer>
		<ul>
			<a href="#">
				<li>129 shares</li>
			</a>
			<a href="#" class="padded">
				<li><img src="http://sumome-140a.kxcdn.com/static/4d80d60612682de62ae55b2504bcbba21b6a3d44/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/facebook-black-60.png"></li>
			</a>
			<a href="#" class="padded">
				<li><img src="http://sumome-140a.kxcdn.com/static/4d80d60612682de62ae55b2504bcbba21b6a3d44/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/twitter-black-60.png"></li>
			</a>
			<a href="#" class="padded">
				<li><img src="http://sumome-140a.kxcdn.com/static/4d80d60612682de62ae55b2504bcbba21b6a3d44/client/images/apps/9e8a4d2a-6f8c-415e-851b-bdfe4c01d5c1/linkedin-black-60.png"></li>
			</a>
		</ul>
	</footer>

</body>
</html>